.sensor {
  display: flex;
  align-items: flex-start; /* Üstten hizalama */
  gap: 10px; /* Etiket ile açıklama arası boşluk */
}
.sensor-label {
  min-width: 120px; /* Diğer etiketlerle aynı genişlik */
  background: #632845;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}
.sensor-desc {
  flex: 1; /* Kalan alanı kapla */
}
.steps-container {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 32px;
  justify-content: center;
}

